<div class="product_image_area">
    <div class="container">
        {{#each detail}}
        <div class="row s_product_inner">
            <div class="col-lg-4">
                <img class="img-fluid" src="{{imagepath}}" style="height: 300px;" alt="">
            </div>
            <div class="col-lg-8">
                <div class="s_product_text">
                    <h3>{{name}}</h3>
                    <h2>${{price}}</h2>
                    <p>{{sumary}}</p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="ti-angle-left"></i>
                        </button>
                        <input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="ti-angle-right"></i>
                        </button>
                        <a class="add_to_cart_button" href="#">Thêm vào giỏ</a>               
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <h1><br>SẢN PHẨM LIÊN QUAN</h1>
                    {{#each table}}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{imagepath}}" style="height: 150px;" alt="">
                    </div>
                    <h2><a href="/product/{{id}}">{{name}}-{{id}}</a></h2>
                    <div class="product-carousel-price">
                        <ins>{{price}}</ins> <del>{{price}}</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/product/{{id}}">Xem Chi Tiết</a>
                    </div>                       
                </div>
            </div>
            {{/each}}
    </div>
</div>