<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {{#each table}}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{{imagepath}}" style="height: 250px;" alt="">
                    </div>
                    <h2><a href="/product/{{id}}">{{name}}-{{id}}</a></h2>
                    <div class="product-carousel-price">
                        <ins>{{price}}</ins> <del>{{price}}</del>
                    </div>  
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/product/{{id}}">Xem Chi Tiết</a>
                    </div>                       
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>